.idea
.vscode
__pycache__
english_wiktionary/__pycache__/*
german_wiktionary/__pycache__/*
spanish_wiktionary/__pycache__/*
presentation/*
split_files_output/*
wiktionaries/*
german_wiktionary/wiktionaries/*
spanish_wiktionary/wiktionaries/*
*.csv
*.xml
*.pkl
*.zip
*.txt
*/.csv
*/.pkl
*/.xml
*/.zip
*/*/.csv
*/*/.pkl
*/*/.xml
*/*/.zip