.idea
.vscode
__pycache__
english_wiktionary/__pycache__/*
german_wiktionary/__pycache__/*
spanish_wiktionary/__pycache__/*
presentation/*
split_files_output/*
english_wiktionary/wiktionaries/*
german_wiktionary/wiktionaries/*
spanish_wiktionary/wiktionaries/*
*.xml
*.zip
*.txt
*/*.xml
*/*.zip
*/*.csv
*/*.pkl
*/*/*.xml
*/*/*.zip
*/*/*.csv
*/*/*.pkl
git/*
spanish_wiktionary/multilingual/*
spanish_wiktionary/specific/*
german_wiktionary/multilingual/*
german_wiktionary/specific/*
english_wiktionary/multilingual/*
english_wiktionary/specific/*
